In [2]:
import pandas as pd

In [3]:
housedata = pd.read_excel('data/สภาพครัวเรือน.xlsx')
housedata.head()

,House Number,ข้อมูลการใช้ไฟฟ้า,ข้อมูลการใช้น้ำบริโภค-แหล่งที่มา,ข้อมูลการใช้น้ำบริโภค,ข้อมูลการใช้น้ำอุปโภค-แหล่งที่มา,ข้อมูลการใช้น้ำอุปโภค,ลักษณะของบ้าน,จำนวนที่ดินทำกิน (ไร่)-เป็นเจ้าของ,จำนวนที่ดินทำกิน (ไร่)-เช่า
0,1,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านสองชั้น,13,NaN
1,2,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านชั้นเดียวยกพื้น,5,NaN
2,3,มีและมีหม้อมิเตอร์เอง,ซื้อ,NaN,ประปา,มีใช้เป็นช่วงๆ(ฤดูร้อน),บ้านชั้นเดียวยกพื้น,19,NaN
3,5,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูแล้งไม่มีน้ำใช้และฤดูฝนน้ำขุ่น),บ้านชั้นเดียวติดพื้น,2(งาน),NaN
4,6,มีและมีหม้อมิเตอร์เอง,บ่อน้ำ,มีดื่มตลอดปี,บ่อน้ำ,มีใช้ตลอดปี,บ้านชั้นเดียวยกพื้น,5,NaN

In [4]:
col = ['HouseNumber', 'ElecUsed', 'WaterESource', 'WaterEUsed', 'WaterUSource', 'WaterUUsed', 'HouseType', 'Area', 'rentArea']
housedata.columns = col
housedata.head()

,HouseNumber,ElecUsed,WaterESource,WaterEUsed,WaterUSource,WaterUUsed,HouseType,Area,rentArea
0,1,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านสองชั้น,13,NaN
1,2,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านชั้นเดียวยกพื้น,5,NaN
2,3,มีและมีหม้อมิเตอร์เอง,ซื้อ,NaN,ประปา,มีใช้เป็นช่วงๆ(ฤดูร้อน),บ้านชั้นเดียวยกพื้น,19,NaN
3,5,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูแล้งไม่มีน้ำใช้และฤดูฝนน้ำขุ่น),บ้านชั้นเดียวติดพื้น,2(งาน),NaN
4,6,มีและมีหม้อมิเตอร์เอง,บ่อน้ำ,มีดื่มตลอดปี,บ่อน้ำ,มีใช้ตลอดปี,บ้านชั้นเดียวยกพื้น,5,NaN

In [18]:
housedata[['HouseNumber', 'ElecUsed']]

    HouseNumber                          ElecUsed
0             1             มีและมีหม้อมิเตอร์เอง
1             2             มีและมีหม้อมิเตอร์เอง
2             3             มีและมีหม้อมิเตอร์เอง
3             5             มีและมีหม้อมิเตอร์เอง
4             6             มีและมีหม้อมิเตอร์เอง
..          ...                               ...
178         267             มีและมีหม้อมิเตอร์เอง
179         268             มีและมีหม้อมิเตอร์เอง
180         280             มีและมีหม้อมิเตอร์เอง
181        7(1)             มีและมีหม้อมิเตอร์เอง
182    NoNumber  มีแต่มีการต่อพ่วงจากบ้านของ(262)

[183 rows x 2 columns]

In [25]:
housedata.WaterUUsed = housedata.WaterUUsed.fillna('NoData')

In [26]:
housedata[housedata.WaterUUsed.str.startswith('มีใช้เป็นช่วงๆ')]

,HouseNumber,ElecUsed,WaterESource,WaterEUsed,WaterUSource,WaterUUsed,HouseType,Area,rentArea
0,1,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านสองชั้น,13,NaN
1,2,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูฝนน้ำขุ่น),บ้านชั้นเดียวยกพื้น,5,NaN
2,3,มีและมีหม้อมิเตอร์เอง,ซื้อ,NaN,ประปา,มีใช้เป็นช่วงๆ(ฤดูร้อน),บ้านชั้นเดียวยกพื้น,19,NaN
3,5,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(ฤดูแล้งไม่มีน้ำใช้และฤดูฝนน้ำขุ่น),บ้านชั้นเดียวติดพื้น,2(งาน),NaN
5,7,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ(หน้าฝนขุ่นและหน้าแล้งไม่พอใช้),บ้านชั้นเดียวติดพื้น,NaN,NaN
...,...,...,...,...,...,...,...,...,...
161,232,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นครึ่งติดพื้น,45,NaN
171,257,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นครึ่งติดพื้น,35,10
178,267,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านสองชั้น,75,NaN
180,280,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นเดียวยกพื้น,NaN,NaN
181,7(1),มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นครึ่งติดพื้น,NaN,NaN

In [5]:
housedata.groupby(['HouseType']).count()

,HouseNumber,ElecUsed,WaterESource,WaterEUsed,WaterUSource,WaterUUsed,Area,rentArea
HouseType,,,,,,,,
2หลังชั้นเดียวและสองชั้น,1,1,1,1,1,1,1,0
ชั้นครึ่ง,2,2,1,2,1,2,1,0
ชั้นเดียวและสองชั้น,1,1,1,1,1,1,1,0
บ้านครึ่งยกพื้น,1,1,1,1,1,1,1,0
บ้านชั้นครึ่งติดพื้น,23,23,23,23,23,23,17,1
บ้านชั้นเดียวติดพื้น,30,30,30,30,30,30,23,1
บ้านชั้นเดียวยกพื้น,33,33,33,32,33,32,31,2
บ้านสองชั้น,90,90,90,89,90,88,80,6
อื่นๆ,1,1,1,1,1,1,1,1

In [6]:
housedata[['WaterUUsed', 'WaterUUsed_remark']] = housedata['WaterUUsed'].str.split('(', expand=True)

In [7]:
housedata

,HouseNumber,ElecUsed,WaterESource,WaterEUsed,WaterUSource,WaterUUsed,HouseType,Area,rentArea,WaterUUsed_remark
0,1,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านสองชั้น,13,NaN,ฤดูฝนน้ำขุ่น)
1,2,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นเดียวยกพื้น,5,NaN,ฤดูฝนน้ำขุ่น)
2,3,มีและมีหม้อมิเตอร์เอง,ซื้อ,NaN,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นเดียวยกพื้น,19,NaN,ฤดูร้อน)
3,5,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นเดียวติดพื้น,2(งาน),NaN,ฤดูแล้งไม่มีน้ำใช้และฤดูฝนน้ำขุ่น)
4,6,มีและมีหม้อมิเตอร์เอง,บ่อน้ำ,มีดื่มตลอดปี,บ่อน้ำ,มีใช้ตลอดปี,บ้านชั้นเดียวยกพื้น,5,NaN,None
...,...,...,...,...,...,...,...,...,...,...
178,267,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านสองชั้น,75,NaN,None
179,268,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้ตลอดปี,บ้านชั้นครึ่งติดพื้น,2,NaN,None
180,280,มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นเดียวยกพื้น,NaN,NaN,None
181,7(1),มีและมีหม้อมิเตอร์เอง,ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้เป็นช่วงๆ,บ้านชั้นครึ่งติดพื้น,NaN,NaN,None
182,NoNumber,มีแต่มีการต่อพ่วงจากบ้านของ(262),ซื้อ,มีดื่มตลอดปี,ประปา,มีใช้ตลอดปี,บ้านชั้นครึ่งติดพื้น,NaN,NaN,None

In [9]:
air2019 = pd.read_csv('https://raw.githubusercontent.com/Maplub/AirQualityData2019/master/pm1_2019_h.csv', sep=';')
air2019.head()

                       Series        Time   h      Value
0  mqttdata.mean {sensorid: }  2019-05-12  17  30.495506
1  mqttdata.mean {sensorid: }  2019-05-12  18  29.697318
2  mqttdata.mean {sensorid: }  2019-05-12  19  29.209138
3  mqttdata.mean {sensorid: }  2019-05-12  20  27.769906
4  mqttdata.mean {sensorid: }  2019-05-12  21  26.968578